body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 18px;
    font-weight: 400;
}
.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-primary{
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
    color: #FFF;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: #FFF;
    height: 130px;
    padding: 0px 150px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    padding: 38px 20px;
    margin: 0;
}

.nav-title span {
    background: -webkit-linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 32px;
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

nav button {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border: 0;
}

nav button span i {
    margin-left: 9px;
}

nav button span i:first-child {
    color: red;

}

.banner {
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-content {
    max-width: 700px;
}

.banner .profile-pic {
    width: 550px;
}

.banner .banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner .banner-title2 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.banner .list-content ul{
    padding: 0;
}
.banner .list-content ul li{
    list-style: none;
    margin: 17px 0;
}
.banner .list-content ul li i:last-child{
    margin-right: 12px;
    color: #FF42A5;
}
.banner button{
    margin-top: 41px;
}
.banner button.btn1{  
    margin-right: 24px;
}
.banner button.btn2{
    background: #4EC5F7;
    border: 0;
    color: #FFF;
}
/* about section style */
.about{
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.about img{
    max-width: 550px;
}
.about .about-info h2{
    font-size: 48px;
    font-weight: 700;
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about .about-info .small-text{
    margin-top: 24px;
}
.about .about-info small{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}
.about .about-info small span{
    font-size: 32px;
    font-weight: 700;
}
/* videos section style */
.videos{
    padding: 0 150px;
    margin: 50px 0px;
}
.videos h2{
    color: #0B0223;
    text-align: center;
}
.videos h2 span{
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.videos p{
    text-align: center;
}
.videos .videos-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}
.videos .videos-img-container p{
    text-align: start;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.videos .videos-img-container .overlay{
    background-color: #000;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 17px;
}

.videos .videos-img-container .overlay img {
    vertical-align: top;
    width: 100%;
    backface-visibility: hidden;
    border: 0;
}
.videos .videos-img-container .middle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
}
.videos .videos-img-container .overlay:hover > img {
    opacity: 0.4;
}

.videos .videos-img-container .overlay:hover .middle {
    opacity: 1;
}
.videos .videos-img-container .middle i{
    color: #FFF;
    font-size: 28px;
}  
/* play instructions section style */
.play-instructions{
    padding: 0px 150px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
}
.play-instructions-content{
    text-align: right;
    max-width: 400px;
    
}
.play-instructions-content h2{
    color: #0B0223;
}
.play-instructions-content h2 span{
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instructions img{
    width: 100%;
    display: flex;
    align-items: center;
}
.play-instructions-img{
    margin-left: 68px;
}
.play-instructions .left-img{
    max-width: 176px;
    position: relative;
    bottom: 160px;
    right: 90px;
    
}
/* games types section */
.games-types{
    padding: 0 150px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.games-types-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding: 0px 10px;
}
.games-types-content img{
    width: 25%;
}
.games-types-content p{
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
}
.games-types-content:hover{
    border: 1px solid red;
    border-radius: 50px;
    background-color: #FFF;
    transition-delay: 0.1s;

}
/* footer styles */
.footer{
    padding: 90px 200px;
    background: #0B0223;
    color: #FFF;
    text-align: center;
}
.footer .title{
    color: #FFF;
}
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 60px;
}

.footer li {
    list-style: none;
    margin-top: 35px;
}
.footer .social-links{
    margin-top: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer .social-links i{
    color: #FFF;
    font-size: 30px;
    margin: 10px;
}
.footer .content{
    margin-bottom: 50px;
}
.footer .content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.footer .content li, .footer small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.footer small{
    margin: 3px;
}
/* responsive styles */
@media screen and (max-width:576px){
    nav{
        display: block;
        text-align: center;
        box-shadow: none;
        padding: 0;
    }
    nav>ul{
        display: block;
    }
    nav li{
        margin-bottom: 36px;
    }
    .banner{
        display: grid;
        padding: 0;
        margin-top: 240px;
    }
    .banner .banner-content{
        margin: 25px;
        flex: 1;
        order: 2;
    }
    .banner .profile-pic{
        width: 100%;
        
    }
    .banner-title1, .banner-title2{
        text-align: center;
        margin: 0;
    }
    .banner .list-content{
        display: flex;
        justify-content: center;
    }
    .about{
        display: grid;
        flex: 1;
        order: 2;
        padding: 0;
    }
    .about img{
        width: 100%;
    }
    .about .about-info{
        margin: 25px;
        text-align: center;
    }
    .videos{
        padding: 0;
        margin: 25px;
    }
    .videos .videos-img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .play-instructions{
        display: block;
        padding: 0;
        margin: 25px;
    }
    .play-instructions-content{
        text-align: center;
    }
    .games-types{
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        margin: 25px;
    }
    .games-types-content{
        padding: 0px 18px;
    }
    .footer{
        padding: 25px 0;
    }
    .footer ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    .footer .social-links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    .footer .content ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 8px;
    }
  
}
@media screen and (min-width:576px) and (max-width:1200px){
    nav{
        display: block;
        text-align: center;
        box-shadow: none;
        padding: 0;
    }
    nav>ul{
        display: block;
    }
    nav li{
        margin-bottom: 36px;
    }
    .banner{
        display: block;
        padding: 0;
        margin-top: 240px;
    }
    .banner .profile-pic{
        width: 100%;
        
    }
    .banner .banner-content{
        text-align: center;
        width: 100%;
    }
    .about{
        display: grid;
        padding: 0;
    }
    .about img{
        width: 100%;
        max-width: none;
    }
    .about .about-info{
        margin: 25px;
        text-align: center;
    }
}